.container {
	width: 100%;
/*	margin: auto;*/
	box-sizing: border-box;
/*	background-color: #eaeaea;*/
}

.semuanya {
	background-color: lightgrey;
}

.atascuy {
	width: 100%;
	height: 58px;
	background-color:  #696969;
}

.atascuy ul li {
	display: inline-block;
	margin-top: 10px;
}	

.logofb {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	background-color: white;
}

.pencarian {
	width: 500px;
	height: 40px;
	border-radius: 7px;
	background-color: white;
	margin-right: 210px;
}

.gambar {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: lightgrey;
	float: right;
	margin:10px;	
}

.kotak {
	width: 90px;
	height: 40px;
	background-color: lightgrey;
	border-radius: 7px;
}
.buletan {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: lightgrey;
}


.kiricuy {
/*	background-color: grey;*/
	width: 330px;
	height: 1000px;
	float: left;
}

.kiricuy ul li{
	display: inline-block;
}

.buletkiri {
	width: 35px;
	height: 35px;
	border-radius: 30px;
	background-color: white;
	margin-right: 5px;
}
.kotakkiri {
	width: 235px;
	height: 35px;
	background-color: white;
	border-radius: 7px;
}

.kotakkiri2 {
	width: 280px;
	height: 35px;
	background-color: white;
	border-radius: 7px;
	margin-bottom: 12px;
}

.kotakkiri21 {
	width: 280px;
	height: 35px;
	background-color: white;
	border-radius: 7px;
	margin-bottom: 32px;
	margin-top: 22px;
}

.tengahatascuy {
	width: 500px;
	height: 230px;
	background-color: white;
	border-radius: 10px;
	margin-left: 380px;
}
.kotaktengahatas {
	width: 415px;
	height: 90px;
	background-color: lightgrey;
	border-radius: 10px;
	list-style-type: none;
}
.textbuatpost {
	padding-left: 40px;
	padding-top: 25px;
}
.kotaktengahurutcuy ul li {
	display: inline-block;
}
.kotaktengahurut {
	width: 90px;
	height: 40px;
	background-color: lightgrey;
	border-radius: 7px;
}
.kotaktengahurut1 {
	width: 70px;
	height: 40px;
	background-color: lightgrey;
	border-radius: 7px;
}

.tengahatascuy2 {
	width: 500px;
	height: 260px;
	background-color: white;
	border-radius: 10px;
	margin-left: 380px;
	margin-top: 20px;
}

.gatau2 ul li {
	display: inline-block;
}
.kotaktengahurut2 {
	width: 90px;
	height: 170px;
	background-color: lightgrey;
	border-radius: 6px;
/*	padding-right: 20px;*/
	margin-right: 16px;
}
.kotaktengahsamping {
	width: 10px;
	height: 10px;
	background-color: lightgrey;
}

.tengahyoi {
	display: inline-block;
	list-style-type: none;
}

.tengahatascuy3 {
	width: 500px;
	height: 500px;
	background-color: white;
	border-radius: 10px;
	margin-left: 380px;
	margin-top: 20px; 
}

.gatau3 ul li {
	display: inline-block;
}

.bulettengahurut3 {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: lightgrey;
}
.kotaktengahurut3 {
	width: 350px;
	height: 40px;
	background-color: lightgrey;
	border-radius: 6px;
	padding-right: 9px;
}

.kotaktengahurut4 {
	width: 400px;
	height: 60px;
	background-color: lightgrey;
	list-style-type: none;
	border-radius: 7px;
	margin-bottom: 20px;
}

.kotaktengahurut5 {
	width: 400px;
	height: 270px;
	background-color: lightgrey;
	list-style-type: none;
	border-radius: 7px;
}

.bagiankanann {
	float: right;
	width: 430px;
	height: 700px;
/*	background-color: blue;*/
}

.kananatascuy {
	width: 400px;
	height: 110px;
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 10px;
}
.kanantengahcuy {
	width: 400px;
	height: 350px;
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 10px;
	list-style-type: none;
}

.bagiankananbawah {
	width: 400px;
	height: 420px;
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 10px;
	list-style-type: none;
}

.textorangmungkin {
	margin-left: 40px;
	padding-top: 30px
}

.kotaktengahurut7 {
	width: 315px;
	height: 100px;
	background-color: lightgrey;
	border-radius: 7px;
	margin-right: 17px;
	list-style-type: none;
	margin-bottom: 15px;
}

.textlihat2 {
	margin-left: 40px;
}

.textbarusaja {
	padding-top: 30px;
	margin-left: 40px;
}
.kotakkanan {
	width: 150px;
	height: 100px;
	background-color: lightgrey;
	border-radius: 7px;
	margin-right: 17px;
	list-style-type: none;
	display: inline-block;
}